<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Адаптивная вёрстка сайта</title>
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic|Playfair+Display:400,700&subset=latin,cyrillic">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css">
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
</head>
<body>
    <header>
    <nav class="container">
      <a class="logo" href="">
        <span>G</span>
        <span>.</span>
        <span>O</span>
        <span>N</span>
        <span>L</span>
        <span>I</span>
        <span>N</span>
        <span>E</span>
      </a>
      <ul id="menu">
        <li><a href="">Вход</a></li>
        <li><a href="">Регистрация</a></li>
        <li><a href="">Личный кабинет</a></li>
        <li><a href="">Выход</a></li>
      </ul>
      <form action="" method="get" id="searchform">
        <button type="submit"><i class="fa fa-cart-arrow-down"></i></button>
      </form>
    </nav>
    </header>
<div class="container">
  <div class="posts-list">
    Здесь будет таблица
  </div> <!-- конец div class="posts-list"-->
        <aside>
  <div class="widget">
    <h3 class="widget-title">Поиск</h3>
        <form action="" method="POST" id="sort">
            <p>Выберите производителя:</p>
            <div class="select">
                <select id="models" name="model">
                    <option value=0>11111111</option>
                </select>
            </div>
            <p>Выберите тип:</p>
            <div class="select">
                <select id="types" name="type">
                    <option value=0>111111111</option>
                </select>
            </div>
            <div class="btn-wrapper">
                <input type="submit" value="Поиск">
            </div>
        </form>	
  </div>
</aside>
</div> <!-- конец div class="container"-->
    <footer>
  <div class="container">
    <div class="footer-col"><span>G.ONLINE © 2020</span></div>
  </div>
</footer>
</body>
</html>